*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

* {
    font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
}

button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
}
